/* Reseteo básico de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: background-color 0.3s ease;
}

header {
    width: 100%;
    background-color: rgba(255, 102, 0, 0.8); /* Naranja con transparencia */
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

header h1 {
    font-size: 2.5rem;
    color: #fff;
    font-family: 'Pacifico', cursive;
    margin: 0;
    margin-bottom: 20px;
}

.welcome-title {
    text-align: center;
    font-size: 2.4em;
    color: orange;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 20px;
}

nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Helvetica';
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ff954a; /* Naranja al pasar el mouse */
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}

/* Estilo para el popup de la ubicación */
#location-popup {
    background-color: #ffffffb7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin-top: 5vh;
    padding: 30px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

/* Título del formulario */
#location-popup h2 {
    font-size: 1.8rem;
    color: #2d2a27;
    margin-bottom: 20px;
}

/* Estilo para el formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

/* Estilo para las etiquetas de los campos */
label {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

/* Estilo para los campos de selección y texto */
select, input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

/* Estilo para el botón de confirmación */
button {
    padding: 12px 20px;
    background-color: #ff8f1f;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff8f1f;
}

/* Mapa de Leaflet */
#map {
    border-radius: 10px;
    margin-top: 20px;
}

/* Adaptaciones responsivas */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    #location-popup {
        padding: 20px;
    }

    button {
        font-size: 1rem;
        padding: 10px 15px;
    }
}
